.page-wrapper
  %h1.text-center
    Why should a restaurant participate in Urban Harvest?

  .container
    .row
      .col-md-12
        .white-bg

          %h3
            You can make a difference and help end hunger in your community

          %p.text-hero
            Hunger remains the No.1 cause of death in the world. 
            %br
            There are 820 million chronically hungry people in the world.
            %br
            10 million people die every year of chronic hunger and hunger-related diseases. 
            %br
            48.8 million Americans—including 16.2 million children—lack the means to get enough nutritious food on a regular basis. 
           
          %h3
            Benefits

          %p.text-hero
          
            U.S. Congress enacted Section 170 of the Internal Revenue Code in 1976 to encourage donations by allowing corporations to earn an enhanced tax deduction for donating food.    

          %h3
            The waste

          %p.text-hero
            Americans throw away more than 25 percent of the food we prepare, about 96 billion pounds of food waste each year according to the US Department of Agriculture's



          %h3
            Vison

          %p.text-hero
          When they had all had enough to eat, Jesus said to his disciples, "Gather the pieces that are left over. Let nothing be wasted." John 6:12 (NIV)
            
