.page-wrapper
  %h1.text-center Donation Claimed!
  .container
    .row
      .col-md-12
        .white-bg.text-center
          .text-hero
            Your next step is to contact the restaurant donating the food. Call their contact person at the number below. A confirmation email has been sent to both you and the restaurant.


            %hr
            .row
              .col-sm-6
                %h3
                  = @donation.donor.name

                = (display_address @donation.donor).html_safe

              .col-sm-6
                = image_tag generate_map_url([@donation], zoom:12), class: 'img-rounded img-responsive', alt: "Nearby restaurants donating food now"
